{% extends 'rango/base.html' %} {% load staticfiles %}
 {% load crispy_forms_tags%} 

{% block title_block %} Login {% endblock %}

{% block body_block %}
<div class="container">
  <div class="col-md-6">
    <h3 class="text-center">Login</h3>
    <form id="login_form" method="post" action="{% url 'rango:login' %}">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group">
            <label>Username</label> <input type="text"  class="form-control" name="username" value="" size="50" /></div>
      </div>

      <div class="form-row">
        <div class="form-group"> Password: <input type="password"  class="form-control" name="password" value="" size="50" />  <input type="submit" btn btn-primary col-md value="submit" /></div>
      </div>

      <!-- </div>
    : 
    <br />
    Password: 
    <br /> -->
    
    </form>
  </div>
</div>

{% endblock %}
