

{% extends 'rango/base.html' %}
{% load crispy_forms_tags%}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
{% if registered %}
<div>
Rango says: <strong>thank you for registering!</strong>
<a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
{% else %}
<div class="container" > 
    <div class="registerForm">
    <div class="row content">

        <div class="col-md-6">
    <h3 class="text-cener">  Register</h3>
<form id="user_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form | crispy }}
    {{ profile_form |crispy  }}
    <br/>
      <div class="col-md-6">
    <input type="submit" name="submit" value="Register" class="btn btn-primary col-md">
</div>
</form>
</div>


</div>
</div>
{% endif %}
{% endblock %}